In [18]:
import pandas as pd

In [19]:
penguins = pd.read_csv('penguins.csv')

In [20]:
data = penguins.copy()

In [21]:
target = 'species'

In [22]:
encode = ['sex', 'island']

In [23]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [24]:
for col in encode:
    dummy = pd.get_dummies(data[col], prefix=col)
    data = pd.concat([data,dummy], axis=1)
    del data[col]

In [25]:
data

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_female,sex_male,island_Biscoe,island_Dream,island_Torgersen
0,Adelie,39.1,18.7,181,3750,False,True,False,False,True
1,Adelie,39.5,17.4,186,3800,True,False,False,False,True
2,Adelie,40.3,18.0,195,3250,True,False,False,False,True
3,Adelie,36.7,19.3,193,3450,True,False,False,False,True
4,Adelie,39.3,20.6,190,3650,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
328,Chinstrap,55.8,19.8,207,4000,False,True,False,True,False
329,Chinstrap,43.5,18.1,202,3400,True,False,False,True,False
330,Chinstrap,49.6,18.2,193,3775,False,True,False,True,False
331,Chinstrap,50.8,19.0,210,4100,False,True,False,True,False
332,Chinstrap,50.2,18.7,198,3775,True,False,False,True,False

In [26]:
target_mapper = {'Adelie':0, 'Chinstrap':1, 'Gentoo':2}

In [27]:
def target_encode(val):
    return target_mapper[val]

In [28]:
data['species'] = data['species'].apply(target_encode)

In [29]:
data

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_female,sex_male,island_Biscoe,island_Dream,island_Torgersen
0,0,39.1,18.7,181,3750,False,True,False,False,True
1,0,39.5,17.4,186,3800,True,False,False,False,True
2,0,40.3,18.0,195,3250,True,False,False,False,True
3,0,36.7,19.3,193,3450,True,False,False,False,True
4,0,39.3,20.6,190,3650,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
328,1,55.8,19.8,207,4000,False,True,False,True,False
329,1,43.5,18.1,202,3400,True,False,False,True,False
330,1,49.6,18.2,193,3775,False,True,False,True,False
331,1,50.8,19.0,210,4100,False,True,False,True,False
332,1,50.2,18.7,198,3775,True,False,False,True,False

In [30]:
# Separating X and Y
X = data.drop('species', axis=1)
Y = data['species']

In [31]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
328    1
329    1
330    1
331    1
332    1
Name: species, Length: 333, dtype: int64

In [33]:
#Model NBC
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X, Y)

GaussianNB()

In [34]:
# Save Model
import pickle
pickle.dump(model, open('modelNBC_penguin.pkl', 'wb')